@import './base/ress';
@import './base/variables';
@import './base/typography';
@import './base/base';
@import './base/mixins';
@import './base/utilities';

@import './layout/layout';
@import './layout/header';
@import './layout/footer';

@import './components/hero';
@import './components/button';
@import './components/menu';
@import './components/service';
@import './components/works';
@import './components/breadcrumb';
@import './components/sns-share';
@import './components/to-top';
@import './components/news';
@import './components/article';
@import './components/pagination';
@import './components/contact';

@import './pages/home';

.news-page-main {
  .news {
    padding-bottom: 5rem;
    &__contents {
      margin-bottom: 3rem;
    }
  }
}
