footer {
  background: $dark-purple;
  width: 100vw;
  padding: 3rem 15px 0.5rem;
  .footer-nav {
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__item {
      margin: 0 0.5rem;
      &:nth-child(1) {
        margin-left: 0;
      }
      text-align: center;
    }
    &__link {
      color: #fff;
      font-size: 14px;
    }
  }
  .copyright {
    @include flex-center;
    margin-top: 2rem;
    color: $light-gray;
  }
}
