header {
  width: 100vw;
  height: 50px;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include transition-ease;
  &__logo {
  }
  h1 {
    margin-left: $outer-margin-size;
    line-height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      width: 35px;
      @include mq(md) {
        width: 45px;
      }
    }
    @include mq(md) {
      margin-left: 30px;
    }
  }
  @include mq(md) {
    height: 70px;
  }
  &.open {
    @include transition-ease;
    // background: linear-gradient(
    //   to left,
    //   rgba(7, 1, 45, 0.9) 50%,
    //   rgba(7, 1, 45, 0.8) 70%,
    //   rgba(35, 5, 80, 0.7) 100%
    // );
    background: rgba(30, 3, 70, 0.9);
  }
}
