.hero {
  background: url('../../img/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  z-index: 0;
  @include flex-center;
  &__inner {
    padding: 30px;
  }
  &__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #fff;
    margin-bottom: 10px;
    @include mq(md) {
      font-size: 60px;
      text-align: center;
    }
  }
  &__subtitle {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 3rem;
    @include mq(md) {
      text-align: center;
    }
  }
  &__scroll {
    color: #fff;
    position: absolute;
    padding: 10px 10px 90px;
    font-size: 13px;
    bottom: 0;
    right: 5px;
    writing-mode: vertical-lr;
    -ms-writing-mode: tb-rl;
    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      width: 1px;
      height: 80px;
      background: #fff;
      left: 47%;
      transform-origin: 0 100%;
      @include scrollDownLine;
    }
  }
}
.hero-sub {
  background: url('../../img/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 28vh;
  z-index: 0;
  @include flex-center;
  .heading-hero {
    padding-top: 2rem;
    &__primary {
      font-size: 36px;
      line-height: 1.2;
      color: #fff;
      text-align: center;
    }
    &__sub {
      font-size: 13px;
      color: #fff;
      text-align: center;
    }
  }
}
// .heading-section__primary {
//     font-size: 36px;
//     line-height: 1.2;
//     color: $purple-font;
//     text-align: center;
//   }
//   .heading-section__sub {
//     font-size: 13px;
//     color: $purple-font;
//     text-align: center;
//   }
//   .heading-secondary {
//     font-size: 18px;
//   }

// <div class="heading-section">
//                 <h2 class="heading-section__primary">COMPANY</h2>
//                 <h3 class="heading-section__sub">私たちについて</h3>
//             </div>
