.recruit-component {
  padding: 3rem 0;
  background: url('../../img/bg-geometry.png');

  &__par {
    margin: 1.5rem 0;
    text-align: center;
  }
  &__img {
    border: 1px solid red;
    background: url('../../img/recruit01.jpg');
    // max-width: 100vw;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center 80%;
    background-size: cover;
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
    margin: 3rem 0 4rem;

    @include mq(md) {
      background-position: center 80%;
      height: 650px;
    }
  }
  &__box-wrapper {
    padding: 0 $outer-margin-size;
  }
  &__box {
    background: #fff;
    padding: 2rem 1.5rem;
    border: 1px solid rgb(130, 93, 155);
    border-radius: 8px;
    margin-top: 2rem;
    h3 {
      color: $purple-font;
      text-align: center;
    }
  }
  &__hiring {
    max-width: 900px;
    margin: 0 auto 7rem;
  }
  &__movie-wrapper {
    padding: 0 $outer-margin-size;
    margin-bottom: 5rem;
    @include mq(md) {
      padding: 0 3rem;
    }
    max-width: 900px;
    margin: 0 auto 5rem;
  }
  &__movie-inner {
    height: 0;
    overflow: hidden;
    padding-bottom: 70%;
    position: relative;
    margin-top: 3rem;
    iframe {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
    @include mq(md) {
      padding-bottom: 66%;
    }
  }
}

.recruit__btn-note {
  text-align: center;
  margin: 1rem;
}
.recruit__btn-wrapper {
  margin: 3rem 0;
  @include mq(md) {
    margin: 0;
  }
}
