.heading-section {
}
.heading-section__primary {
  font-size: 36px;
  line-height: 1.2;
  color: $purple-font;
  text-align: center;
}
.heading-section__sub {
  font-size: 13px;
  color: $purple-font;
  text-align: center;
}
.heading-section__md {
  font-size: 28px;
  color: $purple-font;
  text-align: center;
  line-height: 1.3;
  &--en {
    font-size: 28px;
    color: $purple-font;
    text-align: center;
    line-height: 1.3;
  }
  @include mq(md) {
    font-size: 32px;
    &--en {
      font-size: 44px;
      color: $purple-font;
      text-align: center;
    }
  }
}
.heading-section__md--sub {
  font-size: 16px;
  color: $purple-font;
  text-align: center;
  line-height: 1.3;
  font-weight: 400;
  margin: 0.5rem 0;
  @include mq(md) {
    font-size: 22px;
  }
}
.heading-secondary {
  font-size: 18px;
}
