$purple-font: #391e88;
$dark-purple: #120e19;
$blackish: #333333;
$gray: #e8e8e8;
$light-gray: #f7f7f7;
$gray-bg: #f0f0f0;
$color-btn: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
$purple-gradient: linear-gradient(to bottom, #6c2e96, #190846);
$outer-margin-size: 15px;
$padding-section-pc: 11vw;
