$skyblue-font: #008FD8;
$dark-purple: #120e19;
$blackish: #333333;
$darkgray: #505050;
$gray: #e8e8e8;
$light-gray: #f7f7f7;
$gray-bg: #f0f0f0;
$color-btn: linear-gradient(90deg, rgba(0,143,216,1) 19%, rgba(5,48,70,1) 80%);
$skyblue-gradient: linear-gradient(180deg, rgba(0,143,216,1) 19%, rgba(5,48,70,1) 80%);
$outer-margin-size: 15px;
$padding-section-pc: 11vw;
