$purple-font: #391e88;
$dark-purple: #21054d;
$blackish: #333333;
$gray: #e8e8e8;
$light-gray: #f7f7f7;
$gray-bg: #f0f0f0;
$color-btn: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
